/* Fonts
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Gentium Book Basic', serif;
*/

/* Colors
// orange
    color: #cc9900;
// gray
    color: #4c4c4c;
// light-gray
    color: #dde0df;
*/


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1250px;

    margin: 0 auto;
}

/* Section */
/* ================================== */

.section {
    padding: 100px 0;
    background: url('images/section/bg.jpg') no-repeat center;
    background-size: cover;
}

.section--menu {
    background: url('images/menu/bg.jpg') no-repeat center;
    background-size: cover;

    padding: 100px 0 70px;
}

.section--reviews {
    background: url('images/reviews/bg.jpg') no-repeat center;
    background-size: cover;
}

.section--promo {
    background: url("images/promo/Bg.png") no-repeat center, url("images/header/bg.png") no-repeat center;
    background-size: cover;
    height: 750px;
}

.bg {
    background-image: url("bg.png");
    position: absolute;
    left: 7px;
    top: 0px;
    width: 1600px;
    height: 159px;
    z-index: 284;
}

.section--header {
    background: url("images/header/bg.png");
    background-size: cover;
}

.section--about {
    background: url('images/section/bg.jpg') no-repeat center;
    background-size: cover;
    height: 710px;
}

.section--ingredient {
    background: url('images/ingredients/bg.png') no-repeat center;
    background-size: cover;
    height: 758px;
}

/* Header */
/* ================================== */

.header{
    height: 110px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__logo a{
    text-decoration: none;
    color: white;
}

.header__logo{
    font-size: 36px;
    font-family: 'Yeseva One', cursive;
    margin-top: -7px;
    padding-top: 47px;
}

.header__nav{
    display: flex;
    font-size: 21px;
    font-weight: bold;
    margin-right: 40px;
}

.header__nav__link{
    color: white;
    text-decoration: none;
    font-family: "GentiumBookBasic", serif;
    margin-left: 24px;
    padding-top: 52px;
    padding-left: 13px;
    padding-right: 13px;
}

.header__nav__link:hover{
    border-top: 3px solid rgba(255, 255, 255, 0.7);
    padding-top: 49px;
}

.header__nav__link:first-child{
    margin-left: 0;
}

.header__social{
    margin-left: 20px;
    padding-top: 53px;
    font-size: 21px;
}

.header__link {
    padding-left: 18px;
    color: rgb(218, 179, 62);
    transition: transform .1s linear;
}

.header__link:first-child{
    margin-left: 0;
}

.header__link:hover{
    transform: scale(1.2);
}

/* Promo */
/* ================================== */

.promo h1{
    width: 1160px;
    padding: 130px 0 30px 100px;
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.922);
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
}

.promo img{
    width: 235px;
    text-align: center;
    margin-left: 510px;
    margin-right: 510px;
}

.promo button{
    margin-top: 35px;
    height: 56px;
    width: 230px;
    font-family: "Lato", serif;
    font-size: 18px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4);
    border: #191919 solid 2px ;
    color: white;
    cursor: pointer;
}

.promo button:first-child{
    margin-right: 30px;
}

.promo button:hover{
    background: rgba(255, 255, 255, 0.4);
    border: white solid 2px;
}

.buttons{
    margin-left: 380px;
}

/* About */
/* ================================== */

.about{
    display: flex;
}

.about__text{
    margin-top: 107px;
    margin-left: 120px;
    width: 415px;
    height: 500px;
    font-family: "Lato", serif;
    font-size: 16px;
    text-align: center;
    color: #191919;
    line-height: 1.5;
}

.about__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;
    text-align: center;
}

.about__title:after {
    content: url("images/menu/devider.png");
    display: block;
}

.about__img{
    margin-top: 50px;
    padding-left: 80px;
}

.about__dish{
    margin-top: 40px;
    margin-left: 13px;
}

/* Ingredients */
/* ================================== */

.ingredients{
    display: flex;
}

.ingredients__text{
    width: 570px;
    margin-top: 100px;
    padding-top: 83px;
    margin-left: 640px;
    font-family: "Lato", serif;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.67);
    padding-left: 81px;
    padding-right: 81px;
}

.ingredients__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.ingredients__title:after {
    content: url("images/ingredients/Decoration.png");
    display: block;
}

.ingredients__imgs{
    margin-top: 70px;
    margin-bottom: 79px;

}

.ingredients__imgs img{
    margin-left: 30px;
    padding: 0 0 0 0;
}

.ingredients__imgs img:first-child{
    margin-left: 0;
}


/* Menu */
/* ================================== */

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.menu__col {
    width: 455px;
    margin-left: 100px;
}

.menu__col:last-child {
    margin-right: 100px;
    margin-left: 0;
}

.menu__card {
    margin-bottom: 55px;
}

.menu__card:last-child {
    margin-bottom: 0;
}

.card__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;

    text-align: center;
}

.card__title:after {
    content: url("images/menu/devider.png");

    display: block;
}

.card__content {
    list-style: none;
    padding: 0;
}

.card__dish {
    margin-top: 15px;

    padding: 5px 10px 15px;

    position: relative;
}

.card__dish--special:before {
    content: "Special";

    display: block;
    width: 70px;
    height: 21px;

    text-align: center;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #f8fafa;

    position: absolute;
    top: -22px;
    right: -1px;
    z-index: 1;

    background-color: rgba(204, 153, 0, .5);
}

.card__dish--special {
    border: 1px solid rgba(200, 159, 45, .4);
}

.dish__header {
    display: flex;
    justify-content: space-between;

    align-items: center;

    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    color: #c89f2d;


    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(200, 159, 45, .4);
}

.dish__title {
    font-size: 21px;
    font-weight: 400;
}

.dish__price {

}

.dish__text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}

/* Reviews */
/* ================================== */

.reviews {
    width: 100%;
    max-width: 770px;
    height: 100%;
    min-height: 557px;
    padding: 80px 70px 100px;
    margin: 0 auto;

    text-align: center;

    position: relative;
    z-index: 1;
}

.reviews__mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: rgba(0, 0, 0, .9);
}

.reviews__mask img {
    display: block;
    opacity: .2;

    width: 100%;
}

.reviews__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;

    margin-bottom: 5px;
}

.reviews__title:after {
    content: url("images/reviews/devider.png");

    display: block;
}

.reviews__quotes {
    position: absolute;
    top: 26%;
    left: 4%;
    z-index: 1;

    font-family: 'Georgia', serif;
    font-size: 96px;
    color: #979997;

}

.reviews__text {
    font-family: 'Gentium Book Basic', serif;
    font-size: 25px;
    font-weight: 700;
    color: #dde0df;

    line-height: 1.8;

    margin-bottom: 30px;
}

.reviews__author {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.reviews__author:hover {
    text-decoration: underline;
}

/* Reservation */
/* ================================== */

.reservation {
    display: flex;
    justify-content: space-between;

    padding: 0 40px;

}

.reservation__images {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 570px;
}

.reservation__img {
    width: 270px;
    height: auto;
}

.reservation__content {
    width: 100%;
    max-width: 570px;
    padding: 0 70px;

    text-align: center;
}

.reservation__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;

    margin-bottom: 20px;
}

.reservation__title:after {
    content: url("images/reservation/devider.png");

    display: block;
    margin-top: 5px;
}

.reservation__text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4c4c4c;

    line-height: 1.5;

    display: block;
    margin: 0 auto 10px;
}

.reservation__text--last {
    margin-bottom: 40px;
}

.reservation__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reservation__form__item {
    display: flex;
    flex-direction: column;

    text-align: left;

    position: relative;
}

.reservation__label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #c9a131;

    margin-bottom: 4px;
}

.reservation__input, input[type="date" i] {
    width: 200px;
    padding: 6px 10px 6px 15px;
    margin-bottom: 25px;

    background: rgba(255, 255, 255, .4);
    border: 1px solid #c8c6c6;
    border-radius: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #7c7c7c;

    cursor: text;
}

.reservation__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
}

/* Input Date */

/* Change default icons in input */
::-webkit-calendar-picker-indicator {
    width: 10px;
    height: 10px;

    cursor: pointer;

    opacity: 0;

    position: absolute;
    top: 35px;
    left: 150px;
    z-index: 2;
}

/* Add placeholder(text) */
input[type="date"]::before {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #7c7c7c;

    content: attr(placeholder);

    width: 100%;
}

/* Hide default placeholder */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}

.reservation__date-icon {
    position: absolute;
    top: 35px;
    left: 175px;
    z-index: 0;

    width: 13px;
    height: 13px;

    cursor: pointer;
}

/* Input Count */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.reservation__arrow-icon {
    position: absolute;
    top: 40px;
    left: 175px;
    z-index: 0;

    cursor: pointer;
}



.reservation__btn {
    min-width: 200px;
    padding: 7px 65px;
    /*    margin-bottom: 25px;*/
    margin: 10px auto 0;

    background-color: #c9a131;
    border: none;
    border-radius: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    cursor: pointer;

    transition: background-color .1s linear;
}

.reservation__btn:hover {
    background-color: #bc8a00;
}

.reservation__input:focus, .reservation__btn:focus {
    outline: none;

    border: 1px solid #c89f2d;
}

/* Footer */
/* ================================== */

.footer {
    background-color: #191919;
}

.footer__inner {
    display: flex;
    justify-content: space-between;

    padding: 50px 40px 60px;
}

.footer__card {
    width: 370px;

    text-align: center;
}

.footer__title {
    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    font-weight: 400;
    color: #fefefe;
}

.footer__title:after {
    content: url("images/footer/devider.png");

    display: block;
    margin: 15px 0 15px;
}

.footer__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.footer__address {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.footer__icons {
    font-size: 16px;
    color: #fff;

    margin-top: 45px;
}

.footer__link {
    margin: 0 5px;
    color: #fff;

    transition: transform .1s linear;
}

.footer__link:hover{
    transform: scale(1.4);
}